body{
    background-color: hsl(30, 38%, 92%);
}
.img1{
    width: 250px;
    margin-top: 150px;
    margin-left: 400px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.img2 {
    width: 190px;
    height: 315px;
    background-color: white;
    display: inline-block;
    padding: 30PX;
    position: relative; 
    bottom:55px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.font{
    text-decoration: line-through;
}
.btn {
    background: #236e44;
    background-image: -webkit-linear-gradient(top, #236e44, #1d7539);
    background-image: -moz-linear-gradient(top, #236e44, #1d7539);
    background-image: -ms-linear-gradient(top, #236e44, #1d7539);
    background-image: -o-linear-gradient(top, #236e44, #1d7539);
    background-image: linear-gradient(to bottom, #236e44, #1d7539);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 40px 5px 40px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #37ed9b;
    background-image: -webkit-linear-gradient(top, #37ed9b, #37ed9b);
    background-image: -moz-linear-gradient(top, #37ed9b, #37ed9b);
    background-image: -ms-linear-gradient(top, #37ed9b, #37ed9b);
    background-image: -o-linear-gradient(top, #37ed9b, #37ed9b);
    background-image: linear-gradient(to bottom, #37ed9b, #37ed9b);
    text-decoration: none;
  }